h1 {
  font-size: 50px;
}

body {
display: flex;
align-items: center;
justify-content: center;
}

.flex-container {
  justify-content: center;
  text-align: justify;
  width: 100%;
  background-color: lightgrey;
  padding: 1rem 1rem 1rem 1rem;
  display: grid;
}

.flex-container-survey-group {
  justify-content: center;
  text-align: justify;
  width: 90%;
  height: auto;
  background-color: red;
  padding: 1rem 1rem 1rem 1rem;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 5;
}

.flex-container-survey-items {
  justify-content: center;
  text-align: justify;
  width: 90%;
  height: auto;
  background-color: red;
  padding: 1rem 1rem 1rem 1rem;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 5;
  grid-row-gap: 10px;
}
