@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

:root {
  font-family: "Poppins", sans-serif;
  --bright-green: #beef00;
  --electric-red: #ff0028;
  --deep-green: #657a00;
}

body {
    background-color: var(--deep-green);
}

img {
  height: 5%;
  width: 5%;
  padding: 5px 5px 5px 5px;
}

.header {
  text-align: center;
  font-size: 3em;
  padding: 2rem 2rem 2rem 2rem;
}

.grid {
  font-size: 1em;
  width: 100%;
  background: LightGray;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

/*.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content:flex-start;
}*/

/*.container-vertical {
  display: flex;
  flex-direction: column;
  justify-content: inherit;
  align-content: inherit;
  width: auto;
  height: auto;
}*/

/*.container-horizontal {
  display: inherit;
  flex-direction: column;
  justify-content: inherit;
  align-content: inherit;
  width: auto;
  height: auto;
  flex-wrap: nowrap;
}*/

/*.item-vertical {
  flex-grow: 1;
  height: 100px;
  padding: 5px;
  width: auto;
  height: auto;
  background: tomato;
  font-size: 1em;
  text-align: center;
}*/

/*.item-horizontal {
  flex-grow: 1;
  height: 100px;
  padding: 5px;
  width: auto;
  height: auto;
  background: tomato;
  font-size: 1em;
  text-align: center;
}*/

.nav-bar {
  background-color: #333;
  overflow: hidden;
  width: 100%;
  float: right;
}

.nav-bar a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1rem;
}

.nav-bar a:hover {
  background-color: #ddd;
  color: black;
}

.nav-bar a.active {
  background-color: #4CAF50;
  color: white;
}

.d1 {
  background:LightSkyBlue;
  grid-column: 1/4;
}
.d2 {
  background:LightSalmon;
  grid-column: 1/2;
}
.d3 {
  background:PaleTurquoise;
  grid-column: 2/4;
}
.d4 {
  background:LightPink;
  grid-column: 1/4;
}
.d5 {
  background:PaleGreen;
  grid-column: 1/2;
}
